#News1 {
    font-family: "Aclonica", sans-serif;
}
#News2 {
    font-family: "Aclonica", sans-serif;
}

#News3 {
    font-family: "Aclonica", sans-serif;
}

#News4 {
    font-family: "Aclonica", sans-serif;
}

#News5 {
    font-family: "Aclonica", sans-serif;
}