#News1 {
    font-family: "Merriweather", serif;
    font-weight: 300;
    font-style: normal;
}

#News2 {
    font-family: "Merriweather", serif;
    font-weight: 300;
    font-style: normal;
}

#News3 {
    font-family: "Merriweather", serif;
    font-weight: 300;
    font-style: normal;
}

#News4 {
    font-family: "Merriweather", serif;
    font-weight: 300;
    font-style: normal;
}

#News5 {
    font-family: "Merriweather", serif;
    font-weight: 300;
    font-style: normal;
}

#News6 {
    font-family: "Merriweather", serif;
    font-weight: 300;
    font-style: normal;
}