@import url('https://fonts.googleapis.com/css2?family=Google+Sans+Code:ital,wght@0,300..800;1,300..800&display=swap');
/* Style the tab */
.tab {
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #000000;
  color:white;
}

/* Style the buttons inside the tab */
.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  font-size: 17px;
  box-shadow: 2px 2px 5px #2b2b2b;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #343434;
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: #4f4f4f;
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 6px 12px;
  border: 3px solid #2b2b2b;
  border-top: none;
}

body {
    background-color: black;
    color: white;
    font-family: "Google Sans Code", sans-serif;
}

.tablinks {
    color: white;
}