@import url("../assets/fonts/comicsans.css");

.Button1 {
    visibility: visible;
}

#upgrades2 {
    visibility: hidden;
}

#buy1 {
    visibility: hidden;
}

body {
    background: url("BlueLines.jpeg");
}

.Cloklie {
    width: 346px;
    height: 346px;
    background-color:rgba(0,0,0,0);
}

#Upgrade {
    text-align: right;
    font-family: "Comic Sans", sans-serif;
}

.ComicSans{
    font-family: "Comic Sans", sans-serif;
}
