body {
    background: url("BlueLines.jpeg");
}

.Cloklie {
    width: 346px;
    height: 346px;
    background-color:rgba(0,0,0,0)
}

.Upgrade {
    text-align: right;
}

.UpgradeSubtitle {
    font-family: "Fascinate Inline", system-ui;
}